# Projeto 1 - Ciência dos Dados

Lucas Ohara

Alexandre Cury

Atenção: Serão permitidos grupos de três pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisarão fazer um questionário de avaliação de trabalho em equipe

___
Carregando algumas bibliotecas:

In [285]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
#importando bibliotecas

In [286]:
from emoji import UNICODE_EMOJI
import emoji_list
#importando bibliotecas de emoji. Foi necessário instalar via pip install

In [287]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\lucas\Downloads

Carregando a base de dados com os tweets classificados como relevantes positivos/negativos e não relevantes:

In [288]:
Trainer = pd.read_excel('Havaiana.xlsx', 'Treinamento')
Test = pd.read_excel('Havaiana.xlsx', 'Teste')
#lendo o database recolhido

In [289]:
Trainer.head(10)

                                         Treinamento  Avaliacao
0  @_satanislaw mds, pois tu deu sorte, ou entao ...          2
1  queriaaaaaaaa comida havaiana meu deus vi uma ...          0
2  minha tia comprou uma havaiana de glitter pra ...          1
3  professor doido!!! amei \nbrotou com camisa ha...          0
4  me ajudem a comprar uma havaiana nova lsksk ht...          1
5  fui no mercado comprar uma havaiana para mim, ...          1
6   n posso ver uma havaiana nova q eu quero comprar          1
7  rt @juuhbonfim_: eu não tô de havaiana na bala...          1
8  acho que minha filha jogou no lixo a havaiana ...          2
9  vim de havaiana pra faculdade e sem maquiagem,...          0

___
## Classificador automático de sentimento

### Havaianas

O produto escolhido pelo grupo foi a 'Havaianas'. Consideramos como relevante todos os tweets que mencionam diretamente satisfação, dissatisfação, qualidade ou apego emocional pela marca. O resto foi considerado irrelevante. 
Os tweets considerados relevantes são distribuidos entre duas categorias: A positiva('boa') e a negativa('ruim'), obedecendo o método classificatório mencionado anteriormente.

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [290]:
#Limpando os tweets do database 'Treinamento' de acentos e pontuações
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace(',','')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace(':','')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace('|','')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace('.','')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace('"','')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace('”','')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace('“','')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace(';','')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace('!',' !')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace('?',' ?')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace('(','')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace('+','')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace(')','')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace('\n','')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace('/','') 
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace('é','e')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace('ê','e')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace('á','a')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace('ã','a')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace('ô','o')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace('ó','o')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace('ú','u')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace('ç','c')
Trainer['Treinamento'] = Trainer['Treinamento'].str.replace('í','i')
Trainer['Treinamento'] = Trainer['Treinamento'].str.strip()
Trainer['Treinamento'] = Trainer['Treinamento'].str.lower()

In [291]:
#emojis
emoji = emoji_list.all_emoji
for i in emoji:
    try:
        Trainer['Treinamento']= Trainer['Treinamento'].str.replace(i," {} ".format(i))
    except:
        pass

In [292]:
Trainer.head(10)

                                         Treinamento  Avaliacao
0  @_satanislaw mds pois tu deu sorte ou entao e ...          2
1  queriaaaaaaaa comida havaiana meu deus vi uma ...          0
2  minha tia comprou uma havaiana de glitter pra ...          1
3  professor doido ! ! ! amei brotou com camisa h...          0
4  me ajudem a comprar uma havaiana nova lsksk ht...          1
5  fui no mercado comprar uma havaiana para mim n...          1
6   n posso ver uma havaiana nova q eu quero comprar          1
7  rt @juuhbonfim_ eu nao to de havaiana na balad...          1
8  acho que minha filha jogou no lixo a havaiana ...          2
9  vim de havaiana pra faculdade e sem maquiagem ...          0

In [293]:
good = Trainer[Trainer.Avaliacao == 1]
bad = Trainer[Trainer.Avaliacao == 2]
matter_not = Trainer[Trainer.Avaliacao == 0]
#variáveis

In [294]:
good1 = list(good['Treinamento'])
gear1 = ' '.join(good1)
good_clean = pd.Series(gear1.split())
good_clean.head(10)
#base limpa e separada

0       minha
1         tia
2     comprou
3         uma
4    havaiana
5          de
6     glitter
7         pra
8         mim
9          af
dtype: object

In [295]:
bad1 = list(bad['Treinamento'])
gear2 = ' '.join(bad1)
bad_clean = pd.Series(gear2.split())
bad_clean.head(10)

0    @_satanislaw
1             mds
2            pois
3              tu
4             deu
5           sorte
6              ou
7           entao
8               e
9           minha
dtype: object

In [296]:
matter_not1 = list(matter_not['Treinamento'])
gear0 = ' '.join(matter_not1)
irrel_clean = pd.Series(gear0.split())
irrel_clean.head(10)

0    queriaaaaaaaa
1           comida
2         havaiana
3              meu
4             deus
5               vi
6              uma
7        conhecida
8           postar
9               so
dtype: object

In [297]:
Trainer.Avaliacao.value_counts(True) * 100
#value_counts

0    53.500000
1    37.166667
2     9.333333
Name: Avaliacao, dtype: float64

In [299]:
value1 = good_clean.value_counts() + 1
total1 = sum(value1)
prob1 = (value1/total1)
prob1.head()

de           0.028333
havaianas    0.026939
havaiana     0.026475
e            0.023920
uma          0.017185
dtype: float64

In [300]:
value0 = irrel_clean.value_counts() + 1
total0 = sum(value0)
prob0 = (value0/total0)
prob0.head()

e            0.029936
de           0.029562
havaianas    0.020207
havaiana     0.018461
a            0.013846
dtype: float64

In [301]:
value2 = bad_clean.value_counts() + 1
total2 = sum(value2)
prob2 = (value2/total2)
prob2.head()

havaiana     0.027846
a            0.026208
e            0.020475
havaianas    0.019656
que          0.018018
dtype: float64

In [302]:
cat_good = prob1.to_dict()
cat_bad = prob2.to_dict()
cat_irrel = prob0.to_dict()
#dicionário

___
### Verificando a performance do Classificador

Agora você deve testar o seu classificador com a base de Testes.

In [303]:
Test = pd.read_excel('Havaiana.xlsx','Teste')
Test.head(10)

                                               Teste  Avaliacao
0  minha tia oq você tá fazendo de havaiana branc...          0
1  rt @farchacarol: +2 bem havaiana 🌺 https://t.c...          0
2  queria me sentir incluído pq todo mundo tá fal...          0
3  babu: a marcela falou lá no dia da havaiana "p...          0
4            a havaiana kkkk https://t.co/pnow40stcp          0
5  nível de intimidade: athirson entra no quarto ...          0
6               indo de havaiana. favor não comentar          1
7  rt @merigiodiogo: não tem coisa mais estilo qu...          1
8  rt @portaltracklist: queria saber onde está o ...          0
9  meu pai estava vendo lilo e stitch na sala, aí...          0

In [304]:
Test['Teste'] = Test['Teste'].str.replace(',','')
Test['Teste'] = Test['Teste'].str.replace(':','')
Test['Teste'] = Test['Teste'].str.replace('|','')
Test['Teste'] = Test['Teste'].str.replace('.','')
Test['Teste'] = Test['Teste'].str.replace('"','')
Test['Teste'] = Test['Teste'].str.replace('”','')
Test['Teste'] = Test['Teste'].str.replace('“','')
Test['Teste'] = Test['Teste'].str.replace(';','')
Test['Teste'] = Test['Teste'].str.replace('!',' !')
Test['Teste'] = Test['Teste'].str.replace('?',' ?')
Test['Teste'] = Test['Teste'].str.replace('(','')
Test['Teste'] = Test['Teste'].str.replace('+','')
Test['Teste'] = Test['Teste'].str.replace(')','')
Test['Teste'] = Test['Teste'].str.replace('\n','')
Test['Teste'] = Test['Teste'].str.replace('/','') #
Test['Teste'] = Test['Teste'].str.replace('é','e')
Test['Teste'] = Test['Teste'].str.replace('ê','e')
Test['Teste'] = Test['Teste'].str.replace('á','a')
Test['Teste'] = Test['Teste'].str.replace('ã','a')
Test['Teste'] = Test['Teste'].str.replace('ô','o')
Test['Teste'] = Test['Teste'].str.replace('ó','o')
Test['Teste'] = Test['Teste'].str.replace('ú','u')
Test['Teste'] = Test['Teste'].str.replace('ç','c')
Test['Teste'] = Test['Teste'].str.replace('í','i')
Test['Teste'] = Test['Teste'].str.strip()
Test['Teste'] = Test['Teste'].str.lower()

In [305]:
emoji = emoji_list.all_emoji
for i in emoji:
    try:
        Test['Teste']=Test['Teste'].str.replace(i," {} ".format(i))
    except:
        pass

In [306]:
#montando o classificador
lista0 = []

freq_irrel=53.500000
freq_good=37.166667
freq_bad=9.333333


def classifier(x):
    
    tweet = i.split()
    a = 1
    b = 1
    c = 1
    
    for palavra in tweet:
        
        if palavra not in cat_good:
            a *= 1/(total0 + total1 + total2)
        else:
            a *= cat_good[palavra]

        if palavra not in cat_bad:
            b *= 1/(total0 + total1 + total2)
        else:
            b *= cat_bad[palavra]
        
        if palavra not in cat_irrel:
            c *= 1/(total0 + total1 + total2)
        else:
            c *= cat_irrel[palavra]


    a1 = a * freq_good
    b1 = b * freq_bad
    c1 = c * freq_irrel
    if a1 > b1 and a1 > c1:
        return 1
    if b1 > a1 and b1 > c1:
        return 2
    if c1 > a1 and c1 > b1:
        return 0

In [307]:
for i in Test.Teste:
    lista0.append(classifier(Test.Teste))

In [308]:
Test['Classificação'] = lista0
Test.head(10)

                                               Teste  Avaliacao  Classificação
0  minha tia oq voce ta fazendo de havaiana branc...          0              0
1  rt @farchacarol  2  bem havaiana  🌺  httpstcob...          0              0
2  queria me sentir incluido pq todo mundo ta fal...          0              0
3  babu a marcela falou la no dia da havaiana pq ...          0              0
4             a havaiana kkkk httpstcopnow 4  0 stcp          0              1
5  nivel de intimidade athirson entra no quarto q...          0              0
6                indo de havaiana favor nao comentar          1              1
7  rt @merigiodiogo nao tem coisa mais estilo que...          1              1
8  rt @portaltracklist queria saber onde esta o p...          0              0
9  meu pai estava vendo lilo e stitch na sala ai ...          0              0

### Classificação dos resultados
Uma avaliação verdadeira ocorre quando 'Avaliacao' e 'Classificação' encontram o mesmo resultado.

In [309]:
bv = 0
bf = 0
rv = 0
rf = 0
irv = 0
irf = 0

resultado_class = []

In [310]:
#classificando os resultados
for index in range(0,203):
    if Test['Avaliacao'][index] == 1:
        if Test['Classificação'][index] == 1:
            resultado_class.append('Avaliação boa verdadeira')
            bv += 1
        if Test['Classificação'][index] == 2:
            resultado_class.append('Avaliação ruim falsa')
            rf += 1
        if Test['Classificação'][index] == 0:
            resultado_class.append('Avaliação irrelevante falsa')
            irf += 1
    if Test['Avaliacao'][index] == 2:
        if Test['Classificação'][index] == 1:
            resultado_class.append('Avaliação boa falsa')
            bf += 1
        if Test['Classificação'][index] == 2:
            resultado_class.append('Avaliação ruim verdadeira')
            rv += 1
        if Test['Classificação'][index] == 0:
            resultado_class.append('Avaliação irrelevante falsa')
            irf += 1
    if Test['Avaliacao'][index] == 0:
        if Test['Classificação'][index] == 1:
            resultado_class.append('Avaliação boa falsa')
            bf += 1
        if Test['Classificação'][index] == 2:
            resultado_class.append('Avaliação ruim falsa')
            rf += 1
        if Test['Classificação'][index] == 0:
            resultado_class.append('Avaliação irrelevante verdadeira')
            irv += 1

In [311]:
Test['Resultado'] = resultado_class   

print('Avaliação boa verdadeira : {0}'.format(bv))
print('Avaliação boa falsa : {0}'.format(bf))
print('Avaliação ruim verdadeira : {0}'.format(rv))
print('Avaliação ruim falsa: {0}'.format(rf))
print('Avaliação irrelevante verdadeira : {0}'.format(irv))
print('Avaliação irrelevante falsa: {0}'.format(irf))

Avaliação boa verdadeira : 61
Avaliação boa falsa : 35
Avaliação ruim verdadeira : 15
Avaliação ruim falsa: 6
Avaliação irrelevante verdadeira : 59
Avaliação irrelevante falsa: 27

In [312]:
Test.head(10)

,Teste,Avaliacao,Classificação,Resultado
0,minha tia oq voce ta fazendo de havaiana branc...,0,0,Avaliação irrelevante verdadeira
1,rt @farchacarol 2 bem havaiana 🌺 httpstcob...,0,0,Avaliação irrelevante verdadeira
2,queria me sentir incluido pq todo mundo ta fal...,0,0,Avaliação irrelevante verdadeira
3,babu a marcela falou la no dia da havaiana pq ...,0,0,Avaliação irrelevante verdadeira
4,a havaiana kkkk httpstcopnow 4 0 stcp,0,1,Avaliação boa falsa
5,nivel de intimidade athirson entra no quarto q...,0,0,Avaliação irrelevante verdadeira
6,indo de havaiana favor nao comentar,1,1,Avaliação boa verdadeira
7,rt @merigiodiogo nao tem coisa mais estilo que...,1,1,Avaliação boa verdadeira
8,rt @portaltracklist queria saber onde esta o p...,0,0,Avaliação irrelevante verdadeira
9,meu pai estava vendo lilo e stitch na sala ai ...,0,0,Avaliação irrelevante verdadeira

In [313]:
print('RESULTADOS PERCENTUAIS')
print('----------------------')
final_data = Test["Resultado"].value_counts(normalize = True).sort_index()
print(final_data*100)

RESULTADOS PERCENTUAIS
----------------------
Avaliação boa falsa                 17.241379
Avaliação boa verdadeira            30.049261
Avaliação irrelevante falsa         13.300493
Avaliação irrelevante verdadeira    29.064039
Avaliação ruim falsa                 2.955665
Avaliação ruim verdadeira            7.389163
Name: Resultado, dtype: float64

In [314]:
ecthelion = bv + rv + irv
denethor = ecthelion/204*100
print('A taxa de acerto do classificador (avaliações verdadeiras) é de', denethor,'%')

A taxa de acerto do classificador (avaliações verdadeiras) é de 66.17647058823529 %

___
### Concluindo

O produto 'Havaianas' é relativamente desafiador, uma vez que o nome da marca também possui o significado de algo proveniente do Havaí, como moda e culinária. Além disso, o produto é extremamente difundido na cultura popular brasileira, e a sua qualidade já não é amplamente discutida de forma direta. Assim, emergiram problemas como a alta taxa de tweets irrelevantes e a baixa porcentagem de tweets relevantes negativos.

Com esta extrema difusão cultural das Havaianas, a grande maioria dos tweets discutiam a marca com linguagem extremamente coloquial, cômica, irônica e pessoal. Isso dificulta o processo de classificação da máquina, que tende a falhar em compreender o intuito dessas frases. 

Diante desses obstáculos, consideramos a taxa de acerto de 66.1% do classificador como razoável. Ainda que longe dos standards de aplicação comercial, o classificador concluiu corretamente uma parcela considerável dos tweets, principalmente na 'área cinza' que são os tweets irrelevantes.

___
## Aperfeiçoamento:

Os trabalhos vão evoluir em conceito dependendo da quantidade de itens avançados:

* Limpar: \n, :, ", ', (, ), etc SEM remover emojis
* Corrigir separação de espaços entre palavras e emojis ou entre emojis e emojis
* Propor outras limpezas e transformações que não afetem a qualidade da informação ou classificação
* Criar categorias intermediárias de relevância baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante (3 categorias: C, mais categorias conta para B)
* Explicar por que não posso usar o próprio classificador para gerar mais amostras de treinamento
* Propor diferentes cenários para Naïve Bayes fora do contexto do projeto
* Sugerir e explicar melhorias reais com indicações concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* Montar um dashboard que periodicamente realiza análise de sentimento e visualiza estes dados

___
## Referências

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**

https://pypi.org/project/emoji/

https://towardsdatascience.com/naive-bayes-classifier-81d512f50a7c